<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lnkd.cc Password Reset</title>
</head>
<body>

<div >
    <p style="text-align: center;" >
        Hello, <span th:text="${name}"></span>.
    </p>

    <p>
        Your reset password is <b><span th:text="${password}"></span></b>. <br>

        Please be advised to change your password on next login.
    </p>

    <p>
        Regards, <br />
        <em>The lnkd.cc Team</em>
    </p>
</div>

</body>
</html>